/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@sbb-esta/lyne-elements/standard-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sbb-color-red: #2196f3; /* A nice blue */
  --sbb-color-red-alpha-0: rgba(33, 150, 243, 0); /* Transparent blue */
  --sbb-color-red-alpha-20: rgba(33, 150, 243, 0.2); /* 20% opacity blue */
  --sbb-color-red-alpha-90: rgba(33, 150, 243, 0.9); /* 90% opacity blue */
  --sbb-color-red-mode-dark: #1976d2; /* A darker blue */
  --sbb-color-red125: #1565c0; /* A slightly darker shade of blue */
  --sbb-color-red125-alpha-0: rgba(21, 101, 192, 0); /* Transparent dark blue */
  --sbb-color-red125-alpha-20: rgba(21, 101, 192, 0.2); /* 20% opacity dark blue */
  --sbb-color-red150: #0d47a1; /* Even darker blue */
  background-color: var(--sbb-color-milk);
}
