.loading {
  font-size: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  text-align: center;
}

.end-time {
  float: right;
}

sbb-icon {
  vertical-align: bottom;
}

sbb-card {
  width: 50%;
  margin-bottom: var(--sbb-spacing-fixed-1x);
}

.price {
  float: right;
}
