<div class="flex flex-col">
  <div class="flex gap-5 items-center w-full p-10 justify-center">
    <sbb-form-field data-testid="form-field">
      <label>Origin</label>
      <input (keyup)="doUpdate(origin)" (focusout)="doUpdate(origin)" (mouseup)="doUpdate(origin)"
             [(ngModel)]="origin"/>
      <sbb-autocomplete>
        @for (station of stations; track station) {
          <sbb-option value="{{ station }}">{{ station }}</sbb-option>
        }
      </sbb-autocomplete>
    </sbb-form-field>
    <sbb-form-field>
      <label>Destination</label>
      <input
        (keyup)="doUpdate(destination)" (focusout)="doUpdate(destination)"
        (mouseup)="doUpdate(destination)"
        type="text"
        placeholder="Input placeholder"
        [(ngModel)]="destination"
      />
      <sbb-autocomplete>
        @for (station of stations; track station) {
          <sbb-option value="{{ station }}">{{ station }}</sbb-option>
        }
      </sbb-autocomplete>
    </sbb-form-field>
    <sbb-form-field>
      <label>Via</label>
      <input
        (keyup)="doUpdate(via)" (focusout)="doUpdate(via)" (mouseup)="doUpdate(via)"
        type="text"
        placeholder="Input placeholder"
        [(ngModel)]="via"
      />
      <sbb-autocomplete>
        @for (station of stations; track station) {
          <sbb-option value="{{ station }}">{{ station }}</sbb-option>
        }
      </sbb-autocomplete>
    </sbb-form-field>
    <sbb-button (click)="getOffers()" [disabled]="loading">
      @if (loading) {
        <sbb-loading-indicator variant="circle" size="s"></sbb-loading-indicator>
      }
      Search
    </sbb-button>
  </div>
  @if (showEasterEgg) {
    <div class="image-container">
      <img [ngSrc]="imageSrc" height="766" width="1008" alt="image" (click)="updateImage()"/>
    </div>
  }
  <div class="flex flex-row justify-center gap-5 p-10">
    <div class="w-1/2">
      @for (trip of tripResults; track trip?.id) {
        <sbb-card type="submit" size="m" color="white">
          <sbb-card-button (click)="selectTrip(trip)" [active]="selectedTrip === trip.id">Select
          </sbb-card-button>

          <div>
            <strong>Duration:</strong> {{ trip.duration | duration }}<br>
            <strong>Start Time:</strong> {{ trip.startTime | date: 'dd.MM HH:mm' }}<br>
            <strong>End Time:</strong> {{ trip.endTime | date: 'dd.MM HH:mm' }}<br>
            <strong>Transfers:</strong> {{ trip.transfers }}<br>
          </div>
        </sbb-card>
      }
    </div>
    @if (selectedOffers) {
      <div class="w-1/2">
        <app-offers [offers]="selectedOffers"></app-offers>
      </div>
    }
  </div>
</div>
