<div class="flex flex-col">
  @for (offer of offers; track offer.offerId) {
    <sbb-card>
      <sbb-card-button (click)="buyOffer(offer.offerId)">Buy</sbb-card-button>

      <sbb-card-badge color="white">
        <span>{{ offer.offerSummary.minimalPrice.amount / 100 | currency:offer.offerSummary.minimalPrice.currency:'symbol':'1.2-2' }}</span>
      </sbb-card-badge>

      <div class="flex offer-content">
        <span>
          <sbb-icon name="tickets-class-small"></sbb-icon>
          {{ normalizeClassText(offer.offerSummary.overallTravelClass) }}
        </span>
        <span>
          <sbb-icon name="hand-heart-small"></sbb-icon>
          {{ normalizeText(offer.offerSummary.overallServiceClass.name) }}
        </span>
        <span>
          <sbb-icon name="arrows-circle-small"></sbb-icon>
          {{ normalizeText(offer.offerSummary.overallFlexibility) }}
        </span>
      </div>
    </sbb-card>
  }
</div>
